* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body {
    background: #f1f5f9;
  }

  nav {
    background-color: yellow;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    left: 0%;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(45deg, #38bdf8, #22c55e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 34px;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }

  ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
  }

  ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #38bdf8;
    transition: 0.3s;
  }

  ul li a:hover::after {
    width: 100%;
  }

  .menu {
    display: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
  }
.product {
    display: flex;
      background-color: #fff;
      border-radius: 8px;
      margin: 10px;
      padding: 15px;
      text-align: center;
      width: 200px;
      transition: transform 0.2s, box-shadow 0.2s;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

    .product:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }

  @media (max-width: 768px) {
    ul {
      position: absolute;
      top: 65px;
      left: 0;
      width: 100%;
      background: #0f172a;
      flex-direction: column;
      align-items: center;
      display: none;
    }

    ul.show {
      display: flex;
    }

    ul li {
      padding: 15px 0;
    }

    .menu {
      display: block;
    }
  }